@model NewsDetailViewModel
@{
    ViewData["Title"] =Model.News.Title + " Haber Detay";
}
<section class="single-post-area">
    <!-- Single Post Title -->
    <div class="single-post-title bg-img background-overlay" style="background-image: url(/NewsTemplate/img/bg-img/1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="single-post-title-content">
                        <!-- Post Tag -->
                        <div class="gazette-post-tag">
                            <a asp-controller="Category" asp-action="Index" asp-route-id="@Model.NewsCategory.Id">@Model.NewsCategory.Name</a>
                        </div>
                        <h2 class="font-pt">@Model.News.Title</h2>
                        <p>@Model.News.CreatedAt.ToString("MMMM dd,yyyy")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-post-contents">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="single-post-text">
                        <p>@Model.News.Content.Substring(0,200)</p>
                        
                    </div>
                </div>
                @if (Model.NewsImage is not null)
                {
                    <div class="col-12">
                        <div class="single-post-thumb">
                            <img src="@Model.NewsImage.ImagePath" alt="">
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-12">
                        <div class="single-post-thumb">
                            <img src="/NewsTemplate/img/blog-img/24.jpg" alt="">
                        </div>
                    </div>
                }
                
                <div class="col-12 col-md-8">
                    <div class="single-post-text">
                        <p>@Model.News.Content.Substring(200)</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Comment Area-->
<section class="gazette-post-discussion-area section_padding_100 bg-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <!-- Comment Area Start -->
                <div class="comment_area section_padding_50 clearfix">
                    <div class="gazette-heading">
                        <h4 class="font-bold">Discussion</h4>
                    </div>

                    <ol>
                        @foreach (var item in Model.NewsComments)
                        {
                            <li class="single_comment_area">
                                <div class="comment-wrapper d-md-flex align-items-start">
                                    <!-- Comment Meta -->
                                    <div class="comment-author">
                                        <img src="img/blog-img/25.jpg" alt="">
                                    </div>
                                    <!-- Comment Content -->
                                    <div class="comment-content">
                                        <h5>@item.User.Name</h5>
                                        <span class="comment-date font-pt">@item.Comment.CreatedAt.ToString("MMMM dd, yyyy")</span>
                                        <p>@item.Comment.Comment</p>
                                    </div>
                                </div>

                            </li>
                        }
                        <!-- Single Comment Area -->
                        
                    </ol>
                </div>
                <!-- Leave A Comment -->
                <div class="leave-comment-area clearfix">
                    <div class="comment-form">
                        <div class="gazette-heading">
                            <h4 class="font-bold">leave a comment</h4>
                        </div>
                        <!-- Comment Form -->
                        @if (Context.Session.GetInt32("UserId") == null)
                        {
                            <form asp-action="Detail" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="contact-name" name="Name" placeholder="Enter Your Full Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="contact-email" name="Email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" cols="30" rows="10" name="Message" placeholder="Message"></textarea>
                                </div>
                                <button type="submit" class="btn leave-comment-btn">SUBMIT <i class="fa fa-angle-right ml-2"></i></button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="Detail" method="post">

                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" cols="30" rows="10" name="Message" placeholder="Message"></textarea>
                                </div>
                                <button type="submit" class="btn leave-comment-btn">SUBMIT <i class="fa fa-angle-right ml-2"></i></button>
                            </form>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>