@model HomeNewsView
@{
    ViewData["Title"] = "Anasayfa";
}
@*<partial name="_Slider" />*@
@await Component.InvokeAsync("Slider")




<!-- Latest News Marquee Area Start -->
@*<partial name="_LatestNewsMarquee" />*@
@await Component.InvokeAsync("LatestNewsMarquee")
<!-- Latest News Marquee Area End -->
<!-- Main Content Area Start -->
<section class="main-content-wrapper section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <!-- Gazette Welcome Post -->
                <div class="gazette-welcome-post">
                    <!-- Post Tag -->
                    <div class="gazette-post-tag">
                        <a asp-controller="Category" asp-action="Index" asp-route-id="@Model.Category.Id">@Model.Category.Name</a>
                    </div>
                    <h2 class="font-pt">@Model.News.Title</h2>
                    <p class="gazette-post-date">@Model.News.CreatedAt.ToString("MMMM dd, yyyy ")</p>
                    <!-- Post Thumbnail -->
                    @if (Model.NewsImage is not null)
                    {
                        <div class="blog-post-thumbnail my-5">
                            <img src="@Model.NewsImage.ImagePath" alt="post-thumb">
                        </div>
                    }
                    else
                    {
                        <div class="blog-post-thumbnail my-5">
                            <img src="/NewsTemplate/img/blog-img/1.jpg" alt="post-thumb">
                        </div>
                    }
                    
                    <!-- Post Excerpt -->
                    <p>@Model.News.Content.Substring(0,200)</p>
                    <!-- Reading More -->
                    <div class="post-continue-reading-share d-sm-flex align-items-center justify-content-between mt-30">
                        <div class="post-continue-btn">
                            <a asp-controller="News" asp-action="Detail" asp-route-id="@Model.News.Id" class="font-pt">Continue Reading <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
                        <div class="post-share-btn-group">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("TodaysMostPopular")
            </div>

            <div class="col-12 col-lg-3 col-md-6">
                <div class="sidebar-area">
                    <!-- Breaking News Widget -->
                    @await Component.InvokeAsync("BreakingNews")

                    <!-- Don't Miss Widget -->
                    <!-- Advert Widget -->
                    <div class="advert-widget">
                        <div class="widget-title">
                            <h5>Advert</h5>
                        </div>
                        <div class="advert-thumb mb-30">
                            <a href="#"><img src="/NewsTemplate/img/bg-img/add.png" alt=""></a>
                        </div>
                    </div>
                    <!-- Subscribe Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Area End -->
    <!-- Catagory Posts Area Start -->
    @await Component.InvokeAsync("CategoryPosts")
</section>
<!-- Catagory Posts Area End -->
<!-- Video Posts Area Start -->
@await Component.InvokeAsync("VideoPosts")
@*<partial name="_VideoPosts" />*@
<!-- Video Posts Area End -->
<!-- Editorial Area Start -->
@await Component.InvokeAsync("EditorialSlider")
@*<partial name="_EditorialSlider" />*@